/*======== HEADER =========*/

header[role='banner']{
  @include rem('padding-top', 30);
  @include rem('padding-bottom', 30);

  @include mobile(){
    padding-top: $padding-base-side-m * 2; 
    padding-bottom: $padding-base-side-m * 2;
  }

  .setw{
    text-align: center;

    display: table;
    width: 100%;
  }

  li{  margin-bottom: 0; }
}



/*======== BASIC COLUMNS =========*/
#header-logo{
  display: block;
  width:178px;

  img{
    display: block;
    max-width: 100%;
  }
}

#header-left, #header-center, #header-right{
  display: table-cell;
  vertical-align: middle;

  font-size: #{$font-size-base}px;
  line-height: $line-height-text;
  letter-spacing: 0;

  text-align: left;
}



#header-center, #header-mob-nav{
  text-align: center;
  text-transform: uppercase;
  font-family: $font-family-third;
  @include rem('font-size', 20);
}

#header-right{
  text-align: right;
}





/*======== NAVIGATION =========*/

#header-nav, .header-textsize{
  &, li, a {
    @extend %inline-block;
    position: relative;
    color: $color-beige;
  }

  a{
    @include rem('padding', 16);
  }
}

#header-nav{
  @extend %b_beige;
  @include rem('margin-right', 30);

  &, ul{
    list-style: none;
    margin-left: 0;
  }


  li a{
    .i-a_down{
        display: none;
        position: absolute;
        @include rem('bottom', 6);
        left: 50%;
        @include rem('font-size', 6);
        @include rem('margin-left', -5);
      }

      &.dropdown__toggle .i-a_down{
        display: block;
      }

  }


  & > li{

    &.current-menu-item > a{
      background-color: $color-gray-light;
    }

    &.blue{
      .header-nav-submenu { outline-color: $color-blue-light; }
      &.active > a{ background-color: $color-blue-light; }
    }

    &.beige{
      .header-nav-submenu { outline-color: $color-beige-light; }
      &.active > a{ background-color: $color-beige-light; }
    }

    &.gray{
      .header-nav-submenu { outline-color: $color-gray-light; }
      &.active > a{ background-color: $color-gray-light; }
    }

  }



  .header-nav-submenu{
    
    @include rem('top', 70);
    @include rem('left', 12);

    text-align: left;

    text-transform: none;
    font-family: $font-family-base;
    @include rem('font-size', $font-size-base);

    @include rem('padding', 0, 12);

    background-color: #fff;

    outline-style: solid;
    outline-color: $color-gray-light;
    @include rem('outline-width', 8);

    @include rem('min-width', 320);

    &, a{
      color: $color-text;
    }

    li, a{
      display: block;
    }

    a{
      @include rem('padding', 12, 0);
    }

    li{
      border-style: solid;
      border-color: $color-gray-light;
      @include rem('border-width', 1, 0, 0);

      &:first-child{
        border-top: 0;
      }
    }

  
  }

}



.header-textsize{

  a{
    @extend %b_beige;
    @include rem('margin-left', 6);
    position: relative;


    &:first-child{
      margin-left: 0;
    }

    &.active{
      background-color: $color-beige;
      color: #fff;

      span{
        position: absolute;
        background-color: $color-beige;
        border: 1px solid #fff;
        width: 25px;
        height: 25px;
        top: -10px;
        right: -10px;
        font-size: 13px;
        line-height: 1;
        text-align: center;
        padding: 5px 0;
        box-sizing: border-box;
      }
    }
  }


}






/*======== PHONE =========*/
.header-phone-desk{
  @extend %inline-block;
  text-align: left;
  // font-family: $font-family-second;
  line-height: 1;
  position: relative;
  box-sizing: border-box;
  @include rem('padding-left', 40);

  font-weight: bold;
  @include rem('font-size', 22);

 .i-phone{
    @include rem('font-size', 50);

    position: absolute;
    left: 0;
    top: 50%;
    @include rem('margin-top', -25);

  }

  &, a{
    color: $color-text;
  }

  span{
    font-family: $font-family-base;
    @include rem('font-size', 11);
    font-weight: 300;

    @include rem('margin-left', 5);

    &:first-child{
      margin-left: 0;
    }
  }
}




/*======== MOBILE TOGGLERS =========*/

#header-right-mob{
  display: none;
  text-align: right;

  .dropdown{
    @extend %inline-block;
    position: static;

    &.active{
      .dropdown__toggle{
        position: relative;
        z-index: 1000;

        .icon{
          @include icon(cancel);
          @include rem('font-size', 20);
        }
      }
    }
  }



  .dropdown__toggle{
    @extend %inline-block;
    width: 44px;
    height: 44px;
    box-sizing: border-box;

    @include rem('font-size', 30);
    line-height: 1;

    border-style: solid;
    @include rem('border-width', 1);

    display: table-cell;
    vertical-align: middle;
    text-align: center;

    .icon{
      @extend %icon-styles;
      display: block;
    }
  }

  .dropdown__content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    @include rem('padding', 30);

    padding-left: $padding-base-side-m; 
    padding-right: $padding-base-side-m;

    @include mobile(){
      @include rem('padding', 20);
    }
  }



  .header-textsize a{
    @include rem('font-size', 29);
    border-color: #fff;

    margin-left: 20px;
    margin-top: 20px;

    &:first-child{
      margin-left: 0;
    }

    &.active{
      &, span { background-color: $color-text; }
    }

  }
}




/*======== MOBILE HEADER =========*/

#header-mob-phone{
  margin-left: 10px;

  .dropdown__toggle{

    color: $color-red;
    border-color: $color-red;

    .icon{
      @include icon(phone);
    }
  }

  .dropdown__content{
    background-color: #fff;
    text-align: left;
  }

}




#header-mob-nav{

  text-align: center;

  .dropdown__toggle{

    color: $color-beige;
    border-color: $color-beige;

    .icon{
      @include icon(nav);
      @include rem('font-size', 20);
    }
  }

  .dropdown__content{
    background-color: $color-beige;
    padding-top: $padding-base-side-m * 4 + 44px;

    &, a {
      color: #fff;
    }

    ul{
      list-style: none;
    }

    li{
      a{
        display: block;
        padding: 8px 0;
        border-top: 1px solid $color-text;
      }

      &:first-child a {
        border-top: 0;
      }

      &.current-menu-item > a{
        background-color: $color-text;
      }
    }

  }


  &.active{
      .dropdown__toggle{
        border-color: #fff;
        right: -54px;

        .icon{
          color: #fff;
        }
      }
    }
}


@media screen and (max-width: #{$mq-menuhide}) 
{
  #header-center, #header-right{
    display: none;
  }

  #header-right-mob{
    display: block;
  }

  #header-logo{
    width: 144px
  }
}





/*======== FOOTER =========*/

footer[role='contentinfo']{
  background-color: $color-text;
  color: $color-beige;
  @include rem('padding', 10, 0);
  line-height: 1;
  font-weight: 300;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;


  a{
    color: #fff;
  }
}