@charset "UTF-8";

@import "compass";

@import "utilities/my_reset";
@import "utilities/media";
@import "utilities/variables";

@import "utilities/mixins";
@import "utilities/extends";

@import "utilities/text";
@import "utilities/icons";
@import "utilities/animation";

@import "utilities/plugins";

@import "blocks/head&foot";
@import "blocks/pages";

@import "pages/index";
@import "pages/inside";
@import "pages/intro";




html, body{
  height: 100%;
  position: relative
}


html {
  font-size: 100%;
}

body {
  @extend %font_base;
  background-color: $color-gray-1;

  color: $color-text;
}

// #{$modernizr-cssanimations}{

//   body{
//     opacity: 0;
//     animation: 0.4s fadeIn ease-in forwards;
//   }

// }


.inside main[role="main"]{
  padding-bottom: 145px;
}





/*====== BASICS ======*/
.setw{
  @extend %width_base;
}


.f-zoom{ @extend %floating-fix; }
.f-left { float: left; }
.f-right { float: right; }


.d-t {
  display: table;

  & > *, .d-t-cell{
    display: table-cell;
  }

  .d-t-row{
    display: table-row;
  }
}

.d-ib { display: inline-block; }
.d-b { display: block; }
img.d-b { max-width: 100%; }

.align-m { vertical-align: middle; }

.fullw {
  box-sizing: border-box;
  width: 100%;
}

// .fadeOut, .visible { transition: 0.3s ease-in-out opacity; }
// .fadeOut { opacity: 0; height: 0; }
// .visible { opacity: 1; height: auto; }



.col-3-wrap, .col-2-wrap {
  @extend %floating-fix;
  margin-left: -4%;
}

.col-3, .col-2{
  float: left;
  width: (100%/3) - 4;
  margin-left: 4%;
  margin-bottom: 4%;
}

.col-2{
  width: (100%/2) - 4;
}

@include mobile(){
  .col-3-wrap, .col-2-wrap { margin-left: 0; }

  .col-3, .col-2{
    float: none;
    width: 100% !important;
    margin: 0 0 50px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}





.dropdown{
  position:  relative;

  .dropdown__content{
    opacity: 0;
    display: none;

    position: absolute;
    z-index: 10;
    @include rem('top', $font-size-base*1.2);
    left: 0;
  }


  &.active{
    .dropdown__content{
      display: block;
      animation: 0.2s fadeIn ease-in-out forwards;
    }
  }
}





// .line-obj{
//   & > *{
//     display: inline-block;
//     @include px-to-rem('margin-top', 24);
//     @include px-to-rem('margin-left', 24);

//     &:first-child{
//       margin-left: 0;
//     }
//   }
// }


.screen{
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
}

.flexbox-center{
  /* align content vertically */
  display: flex;
  align-items: center;
}