.inside{
	h1{
		text-transform: uppercase;
		font-weight: 600;
		font-family: $font-family-third;
		@include rem('font-size', 46);

		@include rem('margin', 30, 0, 60);
	}
}



/*COLOMENUD CARDS*/
.card{
	@extend %floating-fix;

	.card-left{
		float: left;
		width: 180px;

		img{
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}
	}

	.card-content{
		margin-left: 212px;
	}

	.card-content-left, .card-content-right{
		vertical-align: top;
	}

	.card-content-left{
		width: 95%;

		.d-t-cell{
			border-bottom: 1px solid rgba($color-gray-light, 0.7);
			padding: 8px 0;

			&:first-child{
				@include rem('width', 136);
				color: $color-beige;
			}

			@media screen and (max-width: #{$mq-menuhide}) 
			{
				display: block;

				&, &:first-child{
					width: 100%;
				}

				&:first-child{
					border-bottom: 0;
					padding-top: 20px;
					padding-bottom: 0;
				}

				&:last-child{
					padding-bottom: 20px;
				}
			}
		}

		.d-t-row:last-child .d-t-cell{
			border: 0;
		}
	}

	.card-content-right{
		text-align: right;
		padding-left: 30px;

		a{
			color: $color-text;
			display: block;
			margin-bottom: 20px;
			@include rem('font-size', 34);
			text-align: center;
		}

		.i-email{
			@include rem('font-size', 25);
		}
	}


	@include mobile(){

		.card-left{
			float: none;
			width: 100%;
			display: block;

			img{
				max-width: 180px;
			}
		}

		.card-content{
			margin-left: 0;
			margin-top: 20px;
		}

		.card-content-left, .card-content-right{
			display: block;
		}

		.card-content-left{
			width: 100%;

			.d-t-row{
				display: block;
			}
		}

		.card-content-right{
			padding-left: 0;
			margin-top: 20px;
		}

		a.card-print{
			display: none;
		}
	}


}



/*end of COLOMENUD CARDS*/


/*COLORED SECTIONS*/

section.sec{
	background-color: #fff;
	padding: 8px;
	margin-bottom: 34px;

	&:last-child{
		margin-bottom: 0;
	}

	.sec-head{
		text-align: center;
		padding: 16px 120px;
		background-color: $color-gray-light;
		position: relative;
		color: #5A5F67;
		margin-bottom: 8px;

		@include mobile(){
			padding-left: 16px;
			padding-right: 16px;
		}

		.icon{
			position: absolute;
			top: 50%;
			right: 8px;

			font-size: 24px;
			margin-top: -12px;

			@include mobile(){
				position: static;
				display: block;
				margin-top: 10px;
			}
		}
	}

	.sec-body{
		padding: 30px;
		border: 1px solid $color-gray-light;
	}

	.avatar{
		border: 1px solid $color-gray-light;
		min-height: 180px;
	}


	&.sec-blue{
		.sec-head{
			background-color: $color-blue-light;
		}

		.sec-body{
			border-color: $color-blue-light;
		}

		.card .card-left img{
			border-color: rgba($color-blue-light, 0.7);
		}

		.card .card-left img{
			border-color: rgba($color-blue-light, 0.7);
		}

		.card-content-left .d-t-cell{
			border-color: rgba($color-blue-light, 0.7);
		}
	}

	&.sec-beige{
		.sec-head{
			background-color: $color-beige-light;
		}

		.card .card-left img{
			border-color: rgba($color-beige-light, 0.7);
		}

		.card .card-left img{
			border-color: rgba($color-beige-light, 0.7);
		}

		.card-content-left .d-t-cell{
			border-color: rgba($color-beige-light, 0.7);
		}
	}


}



/*end of COLORED SECTIONS*/