extends extends/layout.jade

block html
	- var pageTitle = 'Leistungen | Ärztehaus Grein – Dr. Huemer'
	//- - var screen = true
	- var bodyclass = 'inside'

block content
	main(role="main").setw
		h1 Leistungen

		section.sec
			.sec-head
				h2 Allgemeinmedizin
				.icon.i-sign

			.sec-body
				.card
					.card-left
						img(alt="Allgemeinmedizin", src="assets/i/tmp/Dr-Huemer-Tomas.png")
					.card-content
						.d-t.fullw
							.card-content-left
								.d-t.fullw
									.d-t-row
										.d-t-cell Beschreibung:
										.d-t-cell Als Allgemeinarzt bin ich in der Regel der erste Ansprechpartner bei allen Gesundheitsproblemen und beschäftige mich mit Vorbeugung (Prävention), Erkennung (Diagnose), Behandlung (Therapie) und Nachsorge von Krankheiten und Verletzungen meiner Patientinnen und Patienten.
							.card-content-right
								a.card-print(href="#"): .i-print
								a.card-email(href="#"): .i-email



		section.sec
			.sec-head
				h2 Pauckner Monika
				.icon.i-sign

			.sec-body
				.card
					.card-left
						img(alt="Pauckner Monika foto", src="assets/i/tmp/nophoto_girl.png")
					.card-content
						.d-t.fullw
							.card-content-left
								.d-t.fullw
									.d-t-row
										.d-t-cell Fach:
										.d-t-cell Ordinationsassistentin
									.d-t-row
										.d-t-cell Geburtsdatum:
										.d-t-cell 9.3.63
									.d-t-row
										.d-t-cell Berufserfahrung:
										.d-t-cell
											p 1978 - 1985 - Finanzbuchhalterin in einer Steuerkanzlei
											p 1986 - 1988 - Ordinationsassistentin Ordination Dr. Anton Huemer
											p 1988 - bis Heute -  Ordinationsassistentin in unserer Ordination
							.card-content-right
								a.card-print(href="#"): .i-print
								a.card-email(href="#"): .i-email


		section.sec
			.sec-head
				h2 Pauckner Monika
				.icon.i-sign

			.sec-body
				.card
					.card-left
						img(alt="Pauckner Monika foto", src="assets/i/tmp/nophoto_boy.png")
					.card-content
						.d-t.fullw
							.card-content-left
								.d-t.fullw
									.d-t-row
										.d-t-cell Fach:
										.d-t-cell Ordinationsassistentin
									.d-t-row
										.d-t-cell Geburtsdatum:
										.d-t-cell 9.3.63
									.d-t-row
										.d-t-cell Berufserfahrung:
										.d-t-cell
											p 1978 - 1985 - Finanzbuchhalterin in einer Steuerkanzlei
											p 1986 - 1988 - Ordinationsassistentin Ordination Dr. Anton Huemer
											p 1988 - bis Heute -  Ordinationsassistentin in unserer Ordination
							.card-content-right
								a.card-print(href="#"): .i-print
								a.card-email(href="#"): .i-email