extends extends/layout.jade

block html
	- var pageTitle = 'Leistungen | Ärztehaus Grein – Dr. Huemer'
	//- - var screen = true
	- var bodyclass = 'inside'

block content
	main(role="main").setw
		h1 Leistungen

		section.sec
			.sec-head
				h2 Allgemeinmedizin
				.icon.i-sign

			.sec-body
				.card
					.card-left
						img(alt="Allgemeinmedizin", src="assets/i/tmp/l_Allgemeinmedizin@2x.png")
					.card-content
						.d-t.fullw.d-t-card
							.card-content-left.text
								.d-t.fullw
									.d-t-row
										.d-t-cell Beschreibung:
										.d-t-cell Als Allgemeinarzt bin ich in der Regel der erste Ansprechpartner bei allen Gesundheitsproblemen und beschäftige mich mit Vorbeugung (Prävention), Erkennung (Diagnose), Behandlung (Therapie) und Nachsorge von Krankheiten und Verletzungen meiner Patientinnen und Patienten.
							.card-content-right
								a.card-print(href="#"): .i-print
								a.card-email(href="#"): .i-email

		section.sec
			.sec-head
				h2 Führerscheinuntersuchung
				.icon.i-sign

			.sec-body
				.card
					.card-left
						img(alt="Führerscheinuntersuchung", src="assets/i/tmp/l_Führerscheinuntersuchung@2x.png")
					.card-content
						.d-t.fullw.d-t-card
							.card-content-left.text
								.d-t.fullw
									.d-t-row
										.d-t-cell Beschreibung:
										.d-t-cell Entsprechend der Gesetzeslage ist zur Erlangung des Führerscheines bzw. zur Verlängerung verschiedener Führerscheingruppen eine ärztliche Untersuchung notwendig. Als sachverständiger Arzt gem. § 34 FSG bin ich ermächtigt, Ihre gesundheitliche Eignung festzustellen.
									.d-t-row
										.d-t-cell Welche Unterlagen werden benötigt:
										.d-t-cell
											p - Amtlicher Lichtbildausweis (Reisepass, Studentenausweis, …)
											p - Bei Sehbehelf Brille bzw. Kontaktlinse mitnehmen
											p - Brillenträger: Brillenglasbestimmung (Brillenpass) durch den Optiker oder Augenarzt (darf nicht älter als 6 Monate sein)
							.card-content-right
								a.card-print(href="#"): .i-print
								a.card-email(href="#"): .i-email


		section.sec
			.sec-head
				h2 Alternativemedizin
				.icon.i-sign

			.sec-body
				.card
					.card-left
						img(alt="Alternativemedizin", src="assets/i/tmp/l_Alternativemedizin@2x.png")
					.card-content
						.d-t.fullw.d-t-card
							.card-content-left.text
								.d-t.fullw
									.d-t-row
										.d-t-cell Beschreibung:
										.d-t-cell 
											b Schröpfen 
											| ist ein traditionelles Therapieverfahren, bei dem auf einem begrenzten Hautareal ein Unterdruck aufgebracht wird. Schröpfen kann als unabhängige Therapiemodalität sowie in Kombination mit Akupunktur oder Moxa angewendet werden.
									.d-t-row
										.d-t-cell Anwendungsgebiete:
										.d-t-cell
											p - Rückenschmerzen
											p - Ischiasschmerz
											p - Schulterschmerzen
											p - Magenerkrankungen
											p - Bronchitis
											p - Menstruationsbeschwerden
											p - Durchblutungsstörungen
									.d-t-row
										.d-t-cell Beschreibung:
										.d-t-cell 
											b Moxa 
											| ist eine Sonderform der Akupunktur , bei der statt Nadeln kleine Kegel für eine gezielte Wärmepunktur verwendet werden. Die positiven Wirkungen werden von der “gemoxten” Hautstelle über die Nervenbahnen übertragen.
									.d-t-row
										.d-t-cell Anwendungsgebiete:
										.d-t-cell
											p - Erkrankungen der Atemwege
											p - Blasen- und Nierenschwäche
											p - Kopfschmerzen
											p - Magen-Darm-Beschwerden
							.card-content-right
								a.card-print(href="#"): .i-print
								a.card-email(href="#"): .i-email