extends extends/layout.jade

block html
	- var pageTitle = 'Team | Ärztehaus Grein – Dr. Huemer'
	//- - var screen = true
	- var bodyclass = 'inside'

block content
	main(role="main").setw.page-blue.page-doctor
		h1 Team

		section.sec
			.sec-head
				h2 Dr. Huemer Thomas
				.icon.i-sign

			.sec-body
				.card
					.card-left
						img(alt="Dr. Huemer Thomas foto", src="assets/i/tmp/Dr-Huemer-Tomas.png")
					.card-content
						.d-t.fullw
							.card-content-left
								.d-t.fullw
									.d-t-row
										.d-t-cell Fach:
										.d-t-cell Arzt für Allgemeinmedizin
									.d-t-row
										.d-t-cell Geburtsdatum:
										.d-t-cell 16.12.59
									.d-t-row
										.d-t-cell Berufserfahrung:
										.d-t-cell Medizinstudium Uni Wien; LKKH Linz (Landeskinderkrankenhaus); KH Amstetten
							.card-content-right
								a(href="#"): .i-print
								a(href="#"): .i-email



		section.sec
			.sec-head
				h2 Pauckner Monika
				.icon.i-sign

			.sec-body
				.card
					.card-left
						img(alt="Pauckner Monika foto", src="assets/i/tmp/nophoto_girl.png")
					.card-content
						.d-t.fullw
							.card-content-left
								.d-t.fullw
									.d-t-row
										.d-t-cell Fach:
										.d-t-cell Ordinationsassistentin
									.d-t-row
										.d-t-cell Geburtsdatum:
										.d-t-cell 9.3.63
									.d-t-row
										.d-t-cell Berufserfahrung:
										.d-t-cell
											p 1978 - 1985 - Finanzbuchhalterin in einer Steuerkanzlei
											p 1986 - 1988 - Ordinationsassistentin Ordination Dr. Anton Huemer
											p 1988 - bis Heute -  Ordinationsassistentin in unserer Ordination
							.card-content-right
								a(href="#"): .i-print
								a(href="#"): .i-email


		section.sec
			.sec-head
				h2 Pauckner Monika
				.icon.i-sign

			.sec-body
				.card
					.card-left
						img(alt="Pauckner Monika foto", src="assets/i/tmp/nophoto_boy.png")
					.card-content
						.d-t.fullw
							.card-content-left
								.d-t.fullw
									.d-t-row
										.d-t-cell Fach:
										.d-t-cell Ordinationsassistentin
									.d-t-row
										.d-t-cell Geburtsdatum:
										.d-t-cell 9.3.63
									.d-t-row
										.d-t-cell Berufserfahrung:
										.d-t-cell
											p 1978 - 1985 - Finanzbuchhalterin in einer Steuerkanzlei
											p 1986 - 1988 - Ordinationsassistentin Ordination Dr. Anton Huemer
											p 1988 - bis Heute -  Ordinationsassistentin in unserer Ordination
							.card-content-right
								a(href="#"): .i-print
								a(href="#"): .i-email