#info-cookies
	.setw
		#info-cookies-content Diese Webseite verwendet Cookies. Mit der Nutzung unserer Dienste erklären Sie sich damit einverstanden, dass wir Cookies verwenden.
		a(href="#").i-cancel

footer(role='contentinfo')
	.setw.f-zoom
		.f-left ©2017 Dr. Huemer Thomas
		.f-right
			a(href="#") Über das Projekt