header(role='banner')
	.setw
		#header-left
			a#header-logo(href="#"): img(alt="Ärztehaus Grein beim Dr. Huemer", src="assets/i/Aerztehaus-Huemer-logo.png", srcset="assets/i/Aerztehaus-Huemer-logo-x2.png")

		#header-center
			ul#header-nav
				li.current.current-blue
					a(href="#") Team
				li.dropdown.current
					a.dropdown__toggle(href="#")
						| Leistungen
						span.i-a_down
							
					ul.header-nav-submenu.dropdown__content
						li: a(href="#") Allgemeinmedizin
						li: a(href="#") Vorsorgeuntersuchung

				li.current.current-beige
					a(href="#") Ärtze
				li.current
					a(href="#") Kontakt

			.header-textsize
				a.js-tsize-minus(href="#") A -
					span
				a.js-tsize-plus(href="#") A +
					span

		#header-right
			.header-phone-desk
				div: a.c-red(href="tel:07268244") 07268 244
				div
					a(href="tel:144") 144
					span Notruf 24h
				.i-phone

		#header-right-mob


			#header-mob-nav.dropdown
				a.dropdown__toggle(href="#")
					span.icon
						
				.dropdown__content

					ul
						li.active: a(href="#") Team
						li: a(href="#") Leistungen
						li: a(href="#") Ärtze
						li: a(href="#") Kontakt

					.header-textsize
						a.js-tsize-minus(href="#") A -
							span
						a.js-tsize-plus(href="#") A +
							span



			#header-mob-phone.dropdown
				a.dropdown__toggle(href="#")
					span.icon
						
				.dropdown__content

					.header-phone-desk
						div: a.c-red(href="tel:07268244") 07268 244
						div
							a(href="tel:144") 144
							span Notruf 24h
						.i-phone