@include font-face("FontIcons", font-files("FontIcons.woff","FontIcons.woff2","FontIcons.svg","FontIcons.ttf"), "FontIcons.eot");


// @font-face {
// 	font-family: "FontIcons";
// 	src: url('FontIcons.eot');
// 	src: url('FontIcons.eot?#iefix') format('eot'),
// 		url('FontIcons.woff') format('woff'),
// 		url('FontIcons.ttf') format('truetype'),
// 		url('FontIcons.svg#FontIcons') format('svg');
// }

// @mixin icon-styles {
// 	font-family: "FontIcons";
// 		-webkit-font-smoothing: antialiased;
// 		-moz-osx-font-smoothing: grayscale;
// 	font-style: normal;
// 	font-variant: normal;
// 	font-weight: normal;
// 	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
// 	text-decoration: none;
// 	text-transform: none;
// 	display: inline-block;
// }

%icon-styles {
	font-family: "FontIcons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	display: inline-block;
	line-height: 1;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == a_down {
		$char: "\E001";
	}
	@if $filename == a_left {
		$char: "\E002";
	}
	@if $filename == a_right {
		$char: "\E003";
	}
	@if $filename == cancel {
		$char: "\E004";
	}
	@if $filename == clinic {
		$char: "\E005";
	}
	@if $filename == email {
		$char: "\E006";
	}
	@if $filename == nav {
		$char: "\E007";
	}
	@if $filename == phone {
		$char: "\E008";
	}
	@if $filename == print {
		$char: "\E009";
	}
	@if $filename == sign {
		$char: "\E00A";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		content: icon-char($filename);
	}
}

.i-a_down {
	@include icon(a_down);
	@extend %icon-styles;
}
.i-a_left {
	@include icon(a_left);
	@extend %icon-styles;
}
.i-a_right {
	@include icon(a_right);
	@extend %icon-styles;
}
.i-cancel {
	@include icon(cancel);
	@extend %icon-styles;
}
.i-clinic {
	@include icon(clinic);
	@extend %icon-styles;
}
.i-email {
	@include icon(email);
	@extend %icon-styles;
}
.i-nav {
	@include icon(nav);
	@extend %icon-styles;
}
.i-phone {
	@include icon(phone);
	@extend %icon-styles;
}
.i-print {
	@include icon(print);
	@extend %icon-styles;
}
.i-sign {
	@include icon(sign);
	@extend %icon-styles;
}
